<div class='main'>

  <div class='section'>
    <div class='name'>Shopping Cart Resources</div>
    <span class='section-desc'>The following is a section of resources related to the shopping cart</span>

    <div class='api'>
      <div class='title'>
        <span class='verb get'>GET</span>
        <span class='url'>/shopping-cart</span>
      </div>
      <p class='desc'>List products added into your shopping-cart. (comment block again in Markdown)</p>
      <div class='example' style='display:none'>
        <div class='params'>
          <span>Params</span>
          <div class='code'></div>
        </div>

        <div class='response'>
          <span>Response</span>
          <div class='code'>
            <pre>Code Block, Should Use Json parse</pre>
          </div>
        </div>
      </div>
    </div>

    <div class='api'>
      <div class='title'>
        <span class='verb post'>POST</span>
        <span class='url'>/shopping-cart</span>
      </div>
      <p class='desc'>Save new products in your shopping cart</p>
      <div class='example' style='display:none'>
        <div class='params'>
          <span>Params</span>
          <div class='code'>
            <pre>{ "product":"1AB23ORM", "quantity": 2 }</pre>
          </div>
        </div>

        <div class='response'>
          <span>Response</span>
          <div class='code'>
            <pre>Code Block, Should Use Json parse</pre>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class='section'>
    <h2 class='name'>Shopping Cart Resource</h2>
    <span class='section-name'>The following is a section of resources related to the shopping cart</span>

    <div class='api'>
      <div class='title'>
        <span class='verb patch'>PATCH</span>
        <span class='url'>/shopping-cart</span>
      </div>
      <p class='desc'>List products added into your shopping-cart. (comment block again in Markdown)</p>
      <div class='example' style='display:none'>
        <div class='params'>
          <span>Params</span>
          <div class='code'></div>
        </div>

        <div class='response'>
          <span>Response</span>
          <div class='code'>
            <pre>Code Block, Should Use Json parse</pre>
          </div>
        </div>
      </div>
    </div>

    <div class='api'>
      <div class='title'>
        <span class='verb delete'>DELETE</span>
        <span class='url'>/shopping-cart</span>
      </div>
      <p class='desc'>Save new products in your shopping cart</p>
      <div class='example' style='display:none'>
        <div class='params'>
          <span>Params</span>
          <div class='code'>
            <pre>{ "product":"1AB23ORM", "quantity": 2 }</pre>
          </div>
        </div>

        <div class='response'>
          <span>Response</span>
          <div class='code'>
              <pre>Code Block, Should Use Json parse</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
