<!DOCTYPE html>
<html>
<head>
  <title>API Mock Server</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/api-mock.css" rel="stylesheet">
</head>
<body>
  <%= partial :header, locals: { from: 'new' } %>

  <div class="container" class='row'>
    <div class="col-md-3">
      <%= partial :api_list, locals: { current: @route } %>
    </div>
    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/api-mock.js"></script>
</body>
</html>
